<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>flashcards</title>
</head>

<body>
  <h1>FLASHCARDS</h1>

  <div id="start">
    <button>start</button>
  </div>

  <div id="game">
    <h2 id="question">test question<h2>
        <div id=anwsers>
          <button>yes</button>
          <button>no</button>
          <button>no</button>
          <button>no</button>
        </div>
  </div>
  <script src="js"></script>
</body>

</html>