<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>flashcards</title>
</head>

<body>
  <h1>FLASHCARDS</h1>

  <div id="start">
    <button>start</button>
  </div>

  <div id="game">
    <h2 id="question">test question<h2>
        <div id=anwsers>
          <button>yes</button>
          <button>no</button>
          <button>no</button>
          <button>no</button>
        </div>
  </div>

  <input type="text" id="input"></input>
  <button id="send">send (useful message)</button>

  <div>
    <h1>add questions here (this is for everyone)</h1>
    <h2>Question</h2>
    <input type="text" id="add question"></input>
    <h2>Answer 1</h2>
    <input type="text" id="answer 1"></input>
    <input type="checkbox" id="add wor 1">right or wrong</input>
    <h2>Answer 2</h2>
    <input type="text" id="answer 2"></input>
    <input type="checkbox" id="add wor 2">right or wrong</input>
    <h2>Answer 3</h2>
    <input type="text" id="answer 3"></input>
    <input type="checkbox" id="add wor 3">right or wrong</input>
    <h2>Answer 4</h2>
    <input type="text" id="answer 4"></input>
    <input type="checkbox" id="add wor 4">right or wrong</input>
  </div>

  <script src="js"></script>
</body>

</html>